<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建钱包</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/jquery.url.js"></script>
    <script src="/js/wallet.js"></script>
</head>
<body>
<div id="nav" >   </div>
<script>
    $("#nav").load("html/nav.html")
</script>
<h3>请输入密码*创建钱包*</h3>
<form method = "POST" action="/newaccount">
    <input type="text" placeholder="请输入密码" name="password"><button type="submit">确定</button>
</form>

</body>
</html>